
    </div>

    <div class="footer">
        <div class="container footer-wrap">


                    <h4 class="footer-nav-header">GET IN TOUCH</h4>
                    <div class="footer-contacts-list">
                        <a href="#" class="footer-contacts-list__item"><i class="footer-contact fa fa-facebook"></i></a>
                        <a href="#" class="footer-contacts-list__item"><i class="footer-contact fa fa-twitter"></i></a>
                        <a href="#" class="footer-contacts-list__item"><i class="footer-contact fa fa-pinterest"></i></a>
                        <a href="#" class="footer-contacts-list__item"><i class="footer-contact fa fa-google-plus"></i></a>
                    </div>
    </div>
</div>

<script src="js/libs.js"></script>
<script src="js/main.js"></script>
</body>
</html>