// custom fonts
$font-family-Raleway: 'Raleway', sans-serif;
$font-family-Montserrat: 'Montserrat', sans-serif;

// base font style
$base-font-size: 18px;
$base-line-height: 1.667;
$base-font-family: $font-family-Raleway;
$base-font-style: normal;
$base-font-weight: normal;


$base-bg: $color-light-pink;
$base-text-color: $color-dark-blue;
$base-link-color: $color-blue;
$base-link-color_hover: $color-dark-blue;
