$categories-bg: $color-default;

.categories{

	&__list{
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		justify-content: space-between;
		@include mq-down(sm){
			justify-content: center;
		}
		@include mq-down(md){
			justify-content: space-between;
		}
	}
	&__item{
		display: flex;
		flex-direction: column;
		background: $categories-bg;
		@include mq-down(sm) {
			flex-basis: 300px;
		}
		@include mq-only(md) {
			//flex-basis: 48%;
		}
		@include mq-up(lg) {
			width: calc(100% / 3 - 15px);
		}
	}
	&__name{

	}
	&__text{

	}

}

.info{
	background: $body-bg-default;
}