
.photo{
    position: relative;
    height: calc(100vh - 90px);
    background: url('/img/header-bg.jpg') center center fixed no-repeat;
    background-size: cover;
}

.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    &__content{
        flex: 1;
    }
}


// photo-block
.tagline{
    @include centered(false, true);
    &__title{
        margin: 0;
        color: $color-default;
        @include font-type($base-font-family, $font-size-h2, $header-title-line-height, 100);
        @extend .text-uppercase;
    }
    &__subhead{
        margin: 0;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 1.1px;
        font-weight: 400;
    }
    &__btn{
        margin-top: 35px;
    }
}
