$header-vh: 90px;
$header-position: absolute;
$header-position-vh: 125px;

.header{
	$this: &;
	background-color: transparent;
	position: $header-position;
	top: $header-position-vh;
	width: 100%;
	z-index: 2;
	&.js-#{$this}{

}
	&__container{
		height: $header-vh;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}
}