.projects{
	@extend .info;
	//@include make-row();
	//display: flex;
	//justify-content: space-between;
	//align-items: center;

	&__title{
		margin-bottom: $base-padding * 3;
		@include make-row();
	}
	&__text{
		padding-right: 10%;
	}
	&__text + &__btn{
		margin-top: $base-padding * 1.5;
	}
	&__img{
		width: 100%;
		height: auto;
		display: block;
	}
}
.carusel{
	&__cell{
		width: 100%;
	}
	&__img{

	}
}