// Main styles
html,
body {
    height: 100%;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

h3{
    text-align: center;
    color: #2b2446;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    margin-bottom: 50px;
    margin-top: 0;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
}

.photo{
    position: relative;
    height: calc(100vh - 90px);
    background: url('../img/photo.png') top right;
    background-size: cover;
}

.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content{
    flex: 1;
}


// photo-block
.tagline{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &__head, &__subhead{
        color: #1be7e8;
        text-transform: uppercase;
    }
    &__head{
        margin: 0;
        font-size: 60px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 4px;
    }
    &__subhead{
        margin: 0;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 1.1px;
        font-weight: 400;
    }
    &__btn{
        margin-top: 35px;
    }
}

.scrolldown{
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    &__img{
        display: inline-block;
        cursor: pointer;
    }
}


//How it works
.how-it-works{
    padding-top: 88px;
    padding-bottom: 62px;
    &-list{
        list-style: none;
        text-align: center;
        padding: 0;
        font-size: 0;
    }
    &-item{
        vertical-align: top;
        margin: 0 14px;
        width: 233px;
        display: inline-block;
        &__img{
            width: 100%;
            display: block;
            padding: 0 15px;
        }
        &__p{
            color: #2b2446;
            font-size: 16px;
            font-weight: 400;
            margin-top: 24px;
            line-height: 1.4;
            text-transform: uppercase;
        }
    }
}


//Sign-up
.sign-up{
    padding-top: 55px;
    padding-bottom: 58px;
    background-color: #2b2446;
    &__header{
        color: white;
        font-size: 24px;
        line-height: 1.15;
        font-weight: 400;
    }
    &__btn{
        margin-top: 29px;
    }
}

.turquoise{
    padding-top: 58px;
    padding-bottom: 62px;
    background-color: #1be7e8;
}


//Categories
.categories-item.col-md-4{
    width: calc(33.3333% - 30px);
}

.categories{
    font-size: 0;
    padding-top: 81px;
    padding-bottom: 90px;
    &__header{
        margin-bottom: 60px;
    }
    &__btn{
        margin-top: 21px;
        padding: 0 60px;
    }
    &-item{
        margin: 0 15px 32px;
        background-color: #f6f6f7;
        display: inline-block;
        float: none;
        vertical-align: top;
        transition: all 300ms;
        &:hover{
            background-color: #9785e7;
            .categories-item{
                &__header,
                &__text{
                    color: #fff;
                }
                &__btn{
                    background: #fff;
                    color: #9785e7;
                    .btn__arrow{
                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAPCAMAAAABFhU/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAZlBMVEWXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXheeXhef///9tpXcWAAAAIXRSTlMADBs04y5M5TNF5jo/50dNXvMGN0k8Q0g1UOQxNuIqCRYLMAM1AAAAAWJLR0QhxGwNFgAAAAlwSFlzAAALEgAACxIB0t1+/AAAAElJREFUCNc1yzcCgCAUBFGM4AfEBOZw/1NaLDvVa0YVpcpVdUO22pCdWNJ5R1rpSSOBHMYJmGUBoiQg+QisegP24wSu+8n/+2X8juQCl8YubHQAAAAASUVORK5CYII=');
                    }
                }
                &-img{
                    &:before{
                        background-color: rgba(151, 133, 231, 0.5);
                    }
                }
            }
        }
        &__header{
            transition: all 300ms;
            padding: 24px 25px 30px;
            margin: 0;
            color: #2b2446;
            font-size: 24px;
            font-weight: 400;
            line-height: 30px;
        }
        &-img{
            position: relative;
            &:before{
                transition: background-color 300ms;
                display: block;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,0);
            }
            &__asset{
                width: 100%;
                display: block;
            }
        }
        &__text{
            transition: all 300ms;
            color: #2b2446;
            margin: 25px 30px 35px;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }
        &__btn{
            transition: all 300ms;
            margin: 0 30px 40px;
        }
    }
}


//Price
.price{
    background: #f6f6f7;
    padding-top: 71px;
    padding-bottom: 89px;
    font-size: 0;
    &-header{
        margin-bottom: 75px;
    }
    &-item{
        width: 312px;
        margin: 0 11px;
        display: inline-block;
        background-color: white;
        vertical-align: top;
        &__head{
            color: #2b2446;
            font-size: 24px;
            font-weight: 400;
            line-height: 48px;
            margin: 4px 0 0;
        }
        &__value{
            padding: 0 12px;
            margin: 22px 0 23px;
            display: inline-block;
            color: #2b2446;
            font-size: 48px;
            font-style: italic;
            line-height: 66px;
            text-transform: uppercase;
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
        }
        &__text{
            opacity: 0.5;
            color: #2b2446;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            padding: 0 22px;
            margin: 0;
        }
        &__btn{
            margin-bottom: 40px;
            margin-top: 32px;
            padding-left: 18px;
            padding-right: 18px;
        }
        &-ico{
            text-align: center;
            width: 80px;
            height: 80px;
            margin: -40px auto 0;
            border-radius: 50%;
            background-color: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            position: relative;
            top: -50%;
            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }
    }
}


//Form
.form{
    font-size: 0;
    padding-top: 56px;
    padding-bottom: 9px;
    margin: 0 auto;
    width: 1120px;
    &-col{
        vertical-align: top;
        width: calc(50% - 30px);
        display: inline-block;
        margin-bottom: 25px;
        &__header{
            color: #2b2446;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.2;
            margin: 0 0 35px;
        }
        &:first-child{
            margin-right: 60px;
        }
    }
    &-element{
        margin-bottom: 26px;
        &_check{
            margin-bottom: 20px;
        }
        &__checkbox{
            display: none;
        }
        &__checkbox:checked + .form-checkbox{
            color: #2b2446;
            .form-checkbox__check{
                background:url("../img/checkbox.png") -20px top no-repeat;
            }
        }
        &__label{
            letter-spacing: 1px;
            color: #2b2446;
            font-size: 12px;
            font-weight: 400;
            margin: 0 0 7px;
            text-transform: uppercase;
            display: block;
        }
        &__show{
            display: none;
            color: #9785e7;
            cursor: pointer;
        }
        &__input{
            display: block;
            border: 1px solid #dfdee3;
            border-radius: 3px;
            height: 44px;
            line-height: 44px;
            padding: 0 13px;
            width: 100%;
            box-sizing: border-box;
            color: #bfbdc7;
            font-size: 16px;
            font-weight: 400;
            outline: none;
            font-family: 'Noto Sans', sans-serif;
        }
    }
    &-checkbox{
        color: #a5a3ad;
        font-size: 18px;
        font-weight: 400;
        &__check{
            display:inline-block;
            width:20px;
            height:20px;
            margin: -2px 12px 0 0;
            vertical-align:middle;
            background:url("../img/checkbox.png") left top no-repeat;
            cursor:pointer;
        }
    }
}

.img-flag{
    vertical-align: top;
}

@media (max-width: 991px) and (min-width: 768px){
    .categories-item.col-sm-6{
        width: calc(50% - 30px);
    }
}

@media (max-width: 767px) and (min-width: 320px){
    .categories-item.col-sm-6{
        width: calc(100% - 30px);
    }
}