@media (max-width: 1599px){
    .languages-list__item{
        padding: 0 40px;
    }
}

@media (max-width: 1200px){
    .form {
        width: 100%;
    }
    .how-it-works-item{
        width: calc(25% - 28px);
    }
    .price-item {
        width: calc(50% - 22px);
        &:last-child{
            margin-top: 70px;
        }
    }
    .languages-list__item{
        padding: 0 50px;
    }
}

@media (max-width: 992px){
    .how-it-works-item{
        width: calc(50% - 28px);
        margin: 10px 0;
        &__img {
            width: 75%;
            margin: 0 auto;
        }
    }
    .price-item {
        width: calc(50% - 22px);
        &:last-child{
            margin-top: 70px;
        }
    }
    .footer{
        &-contacts{
            padding: 10px 0;
            width: 100%;
            text-align: center;
            float: none !important;
        }
        &-nav{
            width: 100%;
            &-item{
                text-align: center;
                padding: 0;
                width: 25%;
            }
            &-list{
                &__item{
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 767px){
    h3{
        margin-bottom: 40px;
    }
    .how-it-works {
        padding-top: 37px;
        padding-bottom: 6px;
        &-item{
            width: calc(50% - 28px);
            margin-bottom: 30px;
            &:last-child{
                margin-top: 0px;
            }
        }
    }
    .categories {
        padding-top: 27px;
        padding-bottom: 47px;
        &__header{
            margin-bottom: 32px;
        }
        &__btn{
            margin-top: 10px;
        }
    }
    .languages{
        top: 73px;
    }
    .price {
        padding-top: 27px;
        padding-bottom: 0;
        &-header{
            margin-bottom: 64px;
        }
        &-item {
            width: calc(100% - 22px);
            margin-bottom: 70px;
            &:last-child{
                margin-top: 00px;
            }
        }
    }
    .form{
        padding-top: 32px;
        &-col{
            width: 100%;
            margin: 0;
            &:first-child{
                margin-right: 0;
            }
        }
    }
    .footer{
        padding-top: 45px;
        &-contacts{
            padding: 0;
            margin: 15px 0 20px;
        }
        &-nav,
        &-contacts{
            float: none !important;
            display: block;
            text-align: center;
        }
    }
    .head{
        &-actions{
            display: none;
            position: absolute;
            background: #fff;
            width: 100%;
            left: 0;
            top: 73px;
            padding: 0;
        }
        &-menu{
            width: 100%;
            &-item{
                display: block;
                margin: 0;
                width: 100%;
                text-align: center;
            }
        }
        &-btns{
            text-align: center;
            display: block;
            padding: 10px 0 20px;
        }
        &-logo{
            padding: 14px 0;
            &__img{
                width: 170px;
            }
        }
    }
    .fa.fa-bars.head-bars{
        display: block;
        margin: 20px 0 0 0;
        cursor: pointer;
        font-size: 32px;
    }
    .photo {
        height: calc(100vh - 73px);
    }
    .tagline{
        left: 0;
        width: 100%;
        text-align: center;
        &__head{
            font-size: 36px;
        }
        &__subhead {
            font-size: 20px;
            margin-top: 8px;
        }
        &__btn {
            margin-top: 17px;
        }
    }
    .scrolldown{
        display: none;
    }
    .footer{
        position: static;
    }
}

@media (max-width: 640px){
    .how-it-works-item{
        width: calc(50% - 28px);
        &__img {
            width: 75%;
            margin: 0 auto;
        }
    }
    .languages-list__item{
        display: block;
        padding: 0;
    }
    .language {
        line-height: 40px;
        display: block;
        margin: 0 -15px;
        &:hover{
            background: #ddd;
        }
    }
    .footer-nav-item{
        width: 50%;
    }
}

@media (max-width: 480px){
    .how-it-works-item{
        width: calc(100% - 28px);
        &__img {
            width: 60%;
            margin: 0 auto;
        }
    }
    .footer-nav-item{
        width: 100%;
    }
    .tagline {
        left: 0;
        width: 100%;
        padding: 0 15px;
    }
}